@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    width: 11px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #252525;
    height: 10vh;
    border-radius: 3px;
}

.container {
    padding: 10px;
}

#left {
    width: 25vw;
    height: 100vh;
    gap: 8px;
}

#right {
    width: 75vw;
    height: 100vh;
    position: relative;
}

#home {
    width: 100%;
    gap: 10px;
    padding-bottom: 5px;
}

#library {
    height: 75%;
    width: 100%;
    position: relative;

}

#home ul li {
    gap: 18px;
    font-weight: bold;
    font-size: 16px;
}

.heading {
    width: 100%;
    gap: 20px;
    font-size: 17px;
}

.heading img {
    width: 30px;
}

.heading h2 {
    font-size: 18px;
}

.footer {
    font-size: 10px;
    width: 93%;
    gap: 10px;
    margin: 8px 0 10px 0;
    margin-right: 0px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: rgb(128, 128, 128);
}

#header {
    height: 11%;
    width: 97.3%;
    justify-content: space-between;
    background-color: #252525;
    margin: 15px;
}

#nav {
    gap: 15px;
    margin: 5px 0 0 20px;

}

#nav img {
    cursor: pointer;
}

#header img {
    width: 50px;
}

#buttons {
    margin: 4px 30px 0 0;
    gap: 25px;
}

#buttons button {

    font-weight: 700;
    border: none;
    cursor: pointer;
}

.login-btn {
    font-size: 17px;
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    transition: 0.2s;
}

.signup-btn {
    font-size: 17px;
    background: none;
    color: rgb(179, 179, 179);
}

.login-btn:hover {
    padding: 13px;
    font-size: 18px;

}

.signup-btn:hover {
    color: white;
    font-size: 19px;
    transition: 0.2s;
}

.playList {
    min-height: auto;
    max-height: 80%;
    height: auto;
}

.playList h1 {
    margin: 15px 0 10px 40px;
}

.cardContainer {
    margin: 30px 0px 0 50px;
    gap: 30px;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 61vh;
}

.cardContainer::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.card {
    width: 200px;
    background-color: #252525;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 12px;
    color: rgb(179, 179, 179);
}

.play {
    background-color: #1ed760;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 266px;
    right: 20px;
    opacity: 0;
    transition: .5s ease-in-out;
}

.play img {
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.card:hover .play {
    top: 145px;
    opacity: 1;
}

.player {
    position: fixed;
    bottom: 0px;
    right: 1px;
    width: 73vw;
    height: 10%;
    background-color: #25262a;
    margin: 0px 10px 15px 12px;
    border-radius: 7px;
    padding: 0 10px 8px 10px;
}

.playerbtns img {
    cursor: pointer;
}

.playerbtns {
    margin: 5px;
    padding: 12px;
    gap: 30px;
}

.seekbar{
    position: absolute;
    width: 98%;
    height: 3px;
    background-color: white;
    border: 1px solid white;
    padding: 0;
    bottom: 1px;
    margin: 10px;
    cursor: pointer;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1ed760;
    position: absolute;
    bottom: -7px;
    left: 0px;
    transition: left .5s;
}

.songfunc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    font-weight: bold;
}

.songinfo {
    flex: 1;
    text-align: left;
    color: white;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playerbtns {
    flex: 0;
    display: flex;
    gap: 30px;
}

.songtime {
    flex: 1;
    text-align: right;
    color: white;
    font-size: 14px;
}

.librarysongs {
    margin: 25px 0 0 0;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50vh;
}

.librarysongs::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.librarysongs::-webkit-scrollbar {
    visibility: hidden;
}


.librarysongs ul {
    padding: 0 20px;
}

.librarysongs ul li {
    margin: 5px 0;
    list-style: none;
    gap: 25px;
    padding: 20px 10px;
    border: 1px solid white;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.librarysongs ul li img {
    width: 30px;
}

.songDetails {
    font-size: 13px;
    font-weight: bold;
}

.playnow {
    margin: 6px 0 0 4px;
    font-size: 15px;
    font-weight: bold;
}

.libplay{
    gap:25px;
}


