@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

body{
    font-family: "Roboto", sans-serif
}

.container{
    padding: 10px;
}

#left{
    width: 25vw;
    height: 100vh;
    gap: 8px;
}

#right{
    width: 75vw;
    height: 100vh;
}

#home{
    height: 25%;
    width: 100%;
    gap: 10px;
    padding-bottom: 5px;
} 

#library{
    height: 75%;
    width: 100%;
    /* min-height: 72.3vh; */
    position: relative;
}

#home ul li{
    width: 30px;
    gap: 18px;
    font-weight: bold;
    font-size: 16px;
}

.heading{
    width: 100%;
    gap: 20px;
    font-size: 17px;
}

.heading img{
    width: 30px;
}

.heading h2{
    font-size: 18px;
}

.footer{
    font-size: 10px;
    width: 93%;
    gap: 13px;
    margin: 8px;
    margin-right: 0px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: rgb(128, 128, 128);
}

#header{
    height: 12%;
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    justify-content: space-between;
    background-color: #252525;
    margin: 15px;
}

#nav{
    gap: 15px;
    margin: 5px 0 0 20px;
}

#header img{

    width: 50px;
}
