.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
align-items: center;
}

.border{
    border: 2px solid black;
    margin: 3px;
    margin-top: 0;
}

.bg-black{
    background-color: #000000;
    color: white;
}

.bg-white{
    background-color: white;
    color: black;
}

.width-1{
    width: 100%;
}

.width-2{
    width: 30px;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.rounded-2{
    border-radius: 5px;
}

.fldir-column{
    flex-direction: column;
}

.m-1{
    margin: 5px;
}

.m-2{
    margin: 10px;
}

.m-3{
    margin: 15px;
}

.m-4{
    margin: 20px;
}

.p-1{
    padding: 10px;
}

.m-l-1{
    margin-left: 30px;
}